section.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

section.body header {
    display: flex;
    flex-direction: row;
    width: 60vw;
    justify-content: space-between;
}

section.body header .MuiIconButton-root {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 48px;
    width: 48px;
}

.weeksWrapper {
    display: flex;
    flex-direction: column;
}

.daysWrapper {
    display: flex;
    flex-direction: row;
}

.weekDayLetters {
    width: 90px;
    height: 30px;
    margin: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
}

.dayCard {
    width: 90px;
    height: 90px;
    margin: 5px;
}

.dayCard.hidden {
    visibility: hidden;
}

.dayCard .MuiPaper-root {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 25pt;
    color: #ffffff71;
}